<div class="Everything">
  <app-navigation-bar></app-navigation-bar>
  <div class="main">
    <div class="Image">
      <app-image [Image]="URL"></app-image>
    </div>
    <div class="MovieInfo">
      <div class="title">
        <app-title [MovieName]="title"></app-title>
      </div>
      <p>Rating: {{Rating}} | Runtime: {{Runtime}} minutes | Release Date: {{ReleaseDate}} </p>
      <h5 class="ShortDesc">Movie Plot:</h5>
      <P class="ShortDesc">{{ShortDesc}}</P>
    </div>
  </div>
<app-footer-bar></app-footer-bar>
</div>
